visualizer-server/data/*.wav
visualizer-server/data/*.csv
visualizer-server/data/*.flac
result
segmentation/.stack-work
segmentation/pybits/*.pyc
segmentation/pybits/.ipynb_checkpoints/
segmentation/pybits/*.wav
segmentation/pybits/slices/*.wav
